body {
    font-family: 'Open Sans', sans-serif;
}

.carousel-text {
    padding: 10px;
    background-color: rgba(198, 156, 109, 0.7);
    color: #492626;
}
.carousel img {
    min-width: 1200px;
}

#quote1 {
    background-color: #E0E0E0;
    text-align: right;
    color: #492626;
    font-style: italic;
}

#catalog {
    color: #492626;
    background-color: white;
}

#about {
    background-color: #C69C6D;
    text-align: justify;
    color: #492626;
}

#reviews {
    color: #C69C6D;
    background-color: #492626;
}

#where {
    color: #492626;
    background-color: #ffffff;
}

.where_row {
    margin: 10px 0;
}

.where_item {
    margin-left: 10px;
}

.margin-left-item {
    margin-left: 10px;
}

.padding-vert-item {
    padding-top: 20px;
    padding-bottom: 20px;
}

.review-date {
    color: #939393;
}

.bp_author {
    font-weight: 700;
    /*color: #42648b;*/
}

#footer {
    width: auto;
    height: 400px;
    background-image: url("../img/footer.jpg");
}

.footer-div {
    padding: 20px 100px 20px 100px;
    background-color: #F98F0B;
    font-weight: bold;
}

.footer-text {
    margin-right: 10px;
    font-size: 1.2rem;
    color: #492626;
}

.footer-phone {
    margin-left: 10px;
    color: white;
    font-size: 2.4rem;
}

.card-body {
    color: #C69C6D;
    background-color: #492626;
    margin: 0;
    padding: 2px 5px 2px 5px;
}
