body {
    font-family: 'Open Sans', sans-serif;
}

/* Шапка */
#header {
    background-image: url(../img/header.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    height: 800px;
}

#header img,
#header p {
    margin: 0;
    padding: 10px 0;
}

.header__div {
    background-color: rgba(198, 156, 109, 0.7);
    border: 1px;
    border-color: rgba(198, 156, 109, 0.7);
    border-radius: 5px;
    color: white;
    text-align: center;
}

/* Цитата */
#quote {
    background-color: #E0E0E0;
    color: #492626;
    font-style: italic;
    padding: 10px 0;
    text-align: right;
}

#quote p {
    margin: 0;
}

/* Каталог */
#catalog {
    background-color: white;
    color: #492626;
    padding: 10px 0;
}

#catalog p {
    margin: 0;
}

.catalog-item {
    padding: 10px 10px;
}

.card-body {
    color: #C69C6D;
    background-color: #492626;
    margin: 0;
    padding: 2px 5px 2px 5px;
}

.catalog-link {
    background-color: transparent;
    border: 2px solid #492626;
    border-radius: 5px;
    color: #492626;
    padding: 5px;
    text-decoration: none;
}

.catalog-link:active,
.catalog-link:hover,
.catalog-link:link,
.catalog-link:visited {
    color: #492626;
    text-decoration: none;
}

/* О нас */
#about {
    background-color: #C69C6D;
    color: #492626;
    padding: 10px 0;
    text-align: justify;
}

.about-photo {
    background-image: url(../img/about/about-280.png);
    border-radius: 5px;
    height: 280px;
    width: 280px;
}

/* Отзывы */
#review {
    background-color: #492626;
    color: #C69C6D;
    padding: 10px 0;
}

#review p {
    font-style: italic;
    margin: 0;
}

.review-item {
    padding: 10px 10px;
}

.review-author {
    font-weight: 700;
    padding-right: 5px;
}

.review-date {
    color: #939393;
}

/* Где приобрести */
#where {
    background-color: white;
    color: #492626;
    padding: 10px 0;
}

.where-item {
    padding: 10px 10px;
}

.where-text {
    padding-left: 5px;
}

/* Контакты */
#contacts {
    background-color: white;
    color: #492626;
    padding: 10px 0;
}

/* Подвал */
#footer {
    background-image: url(../img/footer.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    height: 400px;
}

.footer-div {
    background-color: #F98F0B;
    border: 1px;
    border-color: #F98F0B;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 5px;
    text-align: center;
}

.footer-text {
    color: #492626;
    margin: 0;
}

.footer-phone {
    color: white;
    font-size: 2rem;
}

@media (min-width: 576px) {
    .about-photo {
        background-image: url(../img/about/about-400.png);
        border-radius: 5px;
        height: 400px;
        width: 400px;
    }
    
}

@media (min-width: 1201px) {
    #header {
        background-size: cover;
    }

    #footer {
        background-size: cover;
    }
}
